.row.content {height: 450px}
    .sidenav {
      padding-top: 20px;
      height: 100%;
    }
 @media screen and (max-width: 767px) {
        .sidenav {
          height: auto;
          padding: 15px;
        }
        .row.content {height:auto;} 
      }
body{
    padding-top: 100px;
    background: linear-gradient(to bottom right,rgba(246,44,139,75),rgba(69,196,244,75));
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
    height: 100%;
}
.img-responsive{
    background-color: white;
    border: 7px solid darkblue;
    margin: 10px;
}
.login_div{
  background-color: lightblue;
  border-radius: 15px;
  padding: 25px;
  margin-top: 50px;
}
#user_name{
  width: 50%;
}
#icon{
  height: 50px;
  width: 50px;
}
h1{
    font-family: 'RocknRoll One', sans-serif;
    color: rgb(4, 4, 97);
}
h2{
    font-family: 'Merriweather', serif;
    color: rgb(61, 5, 75);
}